@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";

:root {
  --montserrat: "Montserrat", sans-serif;
}

body * {
  @apply transition-all duration-300;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  p {
    @apply m-0;
  }

  img {
    @apply max-w-full w-full h-auto block;
  }
}

@layer components {
  .btn {
    @apply rounded-xl bg-neutral-500 dark:bg-zinc-200 text-white dark:text-gray-800
    transition-all duration-700 ease-in-out
    hover:duration-700 hover:ease-in-out hover:bg-neutral-600 dark:hover:bg-zinc-300
    active:duration-700 active:ease-in-out active:bg-neutral-700 dark:active:bg-zinc-400
    p-4;
  }
}
